# Base16 Gruvbox dark, medium
# Scheme author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#282828'
local color01='#3C3836'
local color02='#504945'
local color03='#665C54'
local color04='#BDAE93'
local color05='#D5C4A1'
local color06='#EBDBB2'
local color07='#FBF1C7'
local color08='#FB4934'
local color09='#FE8019'
local color0A='#FABD2F'
local color0B='#B8BB26'
local color0C='#8EC07C'
local color0D='#83A598'
local color0E='#D3869B'
local color0F='#D65D0E'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
