_gen_fzf_default_opts() {

local color01='#151515'
local color02='#1F1F1F'
local color03='#2E2E2E'
local color04='#424242'
local color05='#BBB6B6'
local color06='#E8E3E3'
local color07='#E8E3E3'
local color08='#E8E3E3'
local color09='#B66467'
local color0A='#D9BC8C'
local color0B='#D9BC8C'
local color0C='#8C977D'
local color0D='#8AA6A2'
local color0E='#8DA3B9'
local color0E='#A988B0'
local color0F='#BBB6B6'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
